<% admins_only do %>
  <%= link_to "New Project", new_project_path %>
<% end %>
<h2>Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>

<% if Quotation.first %>
  Random thoughts: 
  <%  q = Quotation.limit(1).offset(rand(Quotation.count)).first %> 
  <p><%= q.passage %> - <%= q.author %></p>
<% end %>
